:root {
  --darkest: #212121;
  --dark: #424242;
  --less-dark: #757575;
  --primary-dark: #4dd0e1;
  --primary-light: #00acc1;
  --lightest: #fafafa;
  --light: #f5f5f5;
  --less-light: #e0e0e0;
  --dark-heart: #e53935;
  --light-heart: #e53935;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(
    to right bottom,
    var(--darkest),
    var(--dark)
  );
  min-height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 80vw;
  min-height: 80vh;
  height: auto;
  margin: 0 auto;
  background-color: var(--dark);
  padding: 20px;
  border-radius: 5px;
}

#search__form {
  display: flex;
  justify-content: center;
  color: var(--lightest);
}

#search__label {
  font-size: 24px;
  font-variant: small-caps;
  padding: 0px 10px;
}

#search__input {
  border: none;
  border-bottom: 1px solid var(--darkest);
  background-color: inherit;
  min-width: 50%;
  max-width: 80%;
  font-size: 24px;
  color: var(--primary-dark);
  padding: 0px 10px;
  text-align: center;
}

#search__input:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-dark);
  background-color: inherit;
}

#search__button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0 10px;
  color: var(--lightest);
}

#search__button:hover {
  background-color: transparent;
  color: var(--primary-dark);
  transition: color 0.5s ease-in;
  border: none;
  font-size: 16px;
}

#search__result {
  padding: 10px;
  word-break: break-word;
  text-align: justify;
  color: var(--light);
}

#informaticMessage {
  text-align: center;
  color: var(--lightest);
}

#word {
  font-size: 32px;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: var(--primary-dark);
}

#word:after {
  border-style: dashed;
}

.results > .result {
  margin: 10px auto;
}

.result > * {
  margin: auto;
}

.partOfSpeech {
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
}

.definition {
  font-size: 20px;
}

.example {
  font-size: 16px;
  color: var(--less-light);
  font-style: italic;
}

#footer {
  display: flex;
  font-style: normal;
  color: var(--light);
  justify-content: center;
  margin-top: 10px;
}

#author {
  color: var(--light);
  font-style: normal;
  padding-left: 5px;
}

.fa-heart {
  color: var(--light-heart);
  padding-left: 5px;
  padding-right: 5px;
}

.light.fa-heart {
  color: var(--dark-heart);
  padding-left: 5px;
  padding-right: 5px;
}
